.library {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  overflow-y: scroll;
  box-shadow: 2px 2px 10px rgb(172, 169, 169);
  padding: 1rem;
  background-color: white;

  h2 {
    margin-bottom: 2rem;
    font-weight: 500;
  }
  
  &-song {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s ease-out;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 2px 2px 7px rgb(209, 204, 204);
    }

    img {
      width: 25%;
      border-radius: 50%;
      margin-right: 1.25rem;
    }

    h3 {
      font-weight: 500;
    }
  }
}
